{% extends 'base.html.twig' %}
{% block body %}
<h1>bonjour bienvenu sur mon blog</h1>

<p>Ce blog à était crée grace aux tuto video de Lior CHAMLA</p>
<p>Voici el lien vers ces videos</p>
<h2>Merci beaucoup pour ce tuto symfony 4</h2>
{% endblock %}